# Исключить папку виртуальной среды
venv/

# Исключить файлы кэша Python
__pycache__/

# Исключить файлы кэша IDE (если используешь PyCharm или VSCode)
.idea/
.vscode/

# Исключить системные файлы
*.log
*.DS_Store
